@font-face {
font-family: 'NorthernLights-Script';
src: url('../fonts/NorthernLights-Script.ttf');
}
@font-face {
font-family: 'Avenir';
src: url('../fonts/Avenir.ttc');
}

.logo{height: 70px;}

/*titles*/
h1, h2, h4, h5, p, .background_boma-hotel, .text_boma-hotel{
  font-family: "Avenir";
}
h1{
  margin: 10px 0 0 0;
}
h4{
  line-height: 0px;
  margin-bottom: 40px;
}

h4, .btn-cupidon{
  font-weight: 500;
}

.text_footer{
  margin-top: 12px;
}
/*colors*/
h4, .span_color{
  color: #bba27e;
}
.title_cupidon{
  margin: 30px 0;
}
.background_beige{
  background-color: #bba27e;
}
.bg_cupidon{
  margin-top: 40px;
}
h1, p.text_boma-hotel, a.bouton-slider, .btn-cupidon, .text_clair {
  color: #fff;
}
.background_boma-hotel, .text_boma-hotel {
  padding: 20px;
}
.background_boma-hotel, .text_boma-hotel{
  text-align: left;
}
.background_boma-hotel{
  margin-right: 30px;
}
.background_fonce{
  background-color: #2d2d2d;
}
.background_boma-hotel{
  background-color: #fff;
  font-size: 15px;
}
.icons-cupidon{
  height: 60px;
  margin-bottom: 15px;
}

.bouton_boma-hotel{
  padding: 0 0 50px 0;
}
.padding_bottom{
  padding: 0 0 40px 0;
}
/*slide*/
.typo-slider{
  font-family: "NorthernLights-Script";
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 41px;
}
.bouton-slider, .btn-cupidon{
  padding: 8px 40px;
}
.bouton-slider{
  border: solid 1px #bba27e;
}
.btn-cupidon{
  background-color: #ff0a55;
}

.orbit-bullets{
  position: absolute;
  bottom:0;
  z-index: 1111;
}

.orbit-caption{
  padding: 100px;
  background-color: inherit;
}


.section_cupidon-btn{
  background-image: url("../img/background-heart.png");
  background-size: cover;
  height: 150px;
}
.section_cupidon{
  margin-top: 60px;
}

.map{
  width: 100%;
  height: 200px;
  border:none;
}
.footer_boma{
  padding: 20px 0;
}

@media screen and (min-width: 640px) {


  /*slide*/
  .typo-slider{
    font-family: "NorthernLights-Script";
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .bouton-slider, .btn-cupidon{
    padding: 12px 60px;
  }

  /*Map*/
  .map{
    height: 350px;
  }

  .br_mobile{
    display: none;
  }
}
