<section>
  <div class="grid-x align-left">
      <div class="cell large-11 small-9">
        <h1><a href="#"><img class="logo" src="./assets/img/logo.svg" alt="BOMA" /></a></h1>
      </div>
      <div class="large-1 small-3 align-self-middle">
      <div class="align-right off-canvas-wrapper cell large-4 text-right">
          <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
              <ul class="vertical menu" data-drilldown><!-- start of the drilldown multi level menu -->
                <li><a href="#saint-valentin">Saint-Valentin 2018</a></li>
                <li><a href="#boma-hotel">L'hôtel Boma</a></li>
                <li><a href="#weekend-cupidon">Week-end Cupidon</a></li>
                <li><a href="#contact">Nous contacter</a></li>
              </ul>
            </div>
            <div class="off-canvas-content large-1" data-off-canvas-content>
              <div class="title-bar">
                <div class="title-bar-right">
                  <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>
