<section>
  <div class="grid-x align-right">
      <div class="cell large-6">
        <img class="logo" src="./assets/img/logo.svg" alt="BOMA" />
      </div>
      <div class="align-right">
      <div class="align-right off-canvas-wrapper cell large-1  text-right">
          <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
              <ul class="vertical menu" data-drilldown><!-- start of the drilldown multi level menu -->
                <li><a>Saint-Valentin 2018</a></li>
                <li><a>L'hôtel Boma</a></li>
                <li><a>Week-end Cupidon</a></li>
                <li><a>Nous contacter</a></li>
              </ul>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
              <div class="title-bar">
                <div class="title-bar-right">
                  <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>
